/* screen - ptf-dsk-registro */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.full-width-form {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.ptf-dsk-registro {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.ptf-dsk-registro .encabezado {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  width: 100%;
  min-width: auto;
}
.ptf-dsk-registro .formulario {
	align-items: center;
    display: none;
    flex-direction: column;
    gap: 10px;
    left: 46px;
    min-height: 89px;
    position: absolute;
    top: 367px;
    width: 491px;
  }

.ptf-dsk-registro .overlap-group {
  height: 80px;
  position: relative;
  width: 100%;
}

.ptf-dsk-registro .image-2 {
  max-width: 100%;
  height: auto;
  left: 88px;
  object-fit: cover;
  position: absolute;
  top: 24px;
  width: 182px;
}

.ptf-dsk-registro .frame-3 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ptf-dsk-registro .rectangle-1 {
  background: linear-gradient(180deg, rgb(251, 230, 204) 0%, rgb(252, 79, 0) 100%);
  border: 1px none;
  height: 10px;
  width: 100%;
}

    .ptf-dsk-registro .icono-nombre {
        height: 60px;
        min-width: 283px;
       position:absolute;
        top: 21px;
        width: 283px;
        left: 41.5%;
    }

.ptf-dsk-registro .image-3 {
  max-width: 100%;
  height: auto;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 63px;
}

.ptf-dsk-registro .guardia-civil {
  color: var(--negro);
  font-family: var(--font-family-bitter);
  font-size: var(--font-size-xl);
  font-weight: 500;
  left: 73px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
}

.ptf-dsk-registro .cintillo_-registro {
  align-items: flex-start;
  background-color: var(--verdemetodos);
  display: flex;
  height: 40px;
  margin-top: 10px;
  width: 100%;
  min-width: auto;
  padding: 9px 5%;
}

.ptf-dsk-registro .frame-1-1 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 8px;
  justify-content: center;
  width: fit-content;
  position:relative;
  left:42%;
}

.ptf-dsk-registro .frame-2 {
  height: 20px;
  min-width: 20px;
}

.ptf-dsk-registro .acceso-a-la-plataforma {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.ptf-dsk-registro .overlap-group2 {
  align-items: center;
  background-image: url(../img/image-4@1x.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 773px;
  padding: 32px 0;
  width: 100%;
  min-width: auto;
}

.ptf-dsk-registro .overlap-group1 {
  height: 487px;
  position: relative;
  width: 582px;
}

    .ptf-dsk-registro .group-2 {
        align-items: flex-start;
        background-color: var(--blanco);
        display: flex;
        height: 487px;
        left: 0;
        /* min-width: 582px; */
        padding: 23px 160px;
        position: absolute;
        top: 0;
        border-radius: 10px;
    }

.ptf-dsk-registro .image-5 {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  width: 262px;
}

.ptf-dsk-registro .group-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 99px;
  min-height: 199px;
  position: absolute;
  top: 130px;
  width: 384px;
}

.ptf-dsk-registro .frame-2-1 {
  align-items: flex-start;
  background-color: var(--blanco);
  border: 0.5px solid;
  border-color: var(--negro);
  display: flex;
  gap: 10px;
  padding: 15px 10px;
  width: 384px;
}

.ptf-dsk-registro .nombre {
  color: var(--negro);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.50px;
  width: fit-content;
}

.ptf-dsk-registro .frame-3-1 {
  align-items: flex-start;
  background-color: var(--blanco);
  border: 0.5px solid;
  border-color: var(--negro);
  display: flex;
  gap: 10px;
  margin-top: 10px;
  padding: 15px 10px;
  width: 384px;
}

.ptf-dsk-registro .contrasea {
  color: var(--negro);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.50px;
  width: fit-content;
}

.ptf-dsk-registro .botn_-acceso {
  align-items: center;
  background-color: var(--naranjametodos);
  border: 1px none;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-left: 1.0px;
  margin-top: 38px;
  padding: 15px 10px;
  width: 261px;
  color: var(--blanco);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}
.ptf-dsk-registro .botn_-acceso2 {
  align-items: center;
  background-color: var(--naranjametodos);
  border: 1px none;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-left: 1.0px;
  margin-top: 8px;
  padding: 15px 10px;
  width: 261px;
  color: var(--blanco);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

.ptf-dsk-registro .entrar {
  color: var(--blanco);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.ptf-dsk-registro .recordatorios {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 46px;
  min-height: 89px;
  position: absolute;
  top: 367px;
  width: 491px;
}

.ptf-dsk-registro .frame-4 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 15px;
  justify-content: center;
  width: fit-content;
}

.ptf-dsk-registro .has-olvidado-tu-contrasea {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.ptf-dsk-registro .restablecer-contrasea {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.ptf-dsk-registro .frame {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 16px;
  justify-content: center;
  width: fit-content;
}

.ptf-dsk-registro .no-tienes-cuenta {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.ptf-dsk-registro .regstrate {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.ptf-dsk-registro .tu-cuenta-ha-caducado {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.ptf-dsk-registro .renuvala {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.ptf-dsk-registro .cifras {
  align-items: flex-start;
  background-color: #787D47;
  display: flex;
  height: 139px;
  justify-content: flex-end;
  min-width: 582px;
  padding: 15px 24.5px;
}

.ptf-dsk-registro .frame-4-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 36px;
  width: fit-content;
}

.ptf-dsk-registro .frame-1 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.ptf-dsk-registro .number {
  height: 50px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  text-align: center;
  width: 146px;
}

.ptf-dsk-registro .alumnos {
  height: 35px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 119px;
}

.ptf-dsk-registro .desde-2014 {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 94px;
}

.ptf-dsk-registro .number-1 {
  height: 50px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  text-align: center;
  width: 154px;
}

.ptf-dsk-registro .tests {
  height: 35px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 74px;
}

.ptf-dsk-registro .en-el-ltimo-mes {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 133px;
}

.ptf-dsk-registro .phone {
  height: 50px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  text-align: center;
  width: 160px;
}

.ptf-dsk-registro .preguntas {
  height: 35px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 137px;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    .ptf-dsk-registro .overlap-group,
    .ptf-dsk-registro .overlap-group1,
    .ptf-dsk-registro .group-2,
    .ptf-dsk-registro .group-3,
    .ptf-dsk-registro .recordatorios,
    .ptf-dsk-registro .cifras {
        margin-left: auto;
        margin-right: auto;
        width: 96%;
        border-radius: 5px;
    }

  .ptf-dsk-registro .icono-nombre,
  .ptf-dsk-registro .frame-1-1 {
    left: 50%;
    transform: translateX(-50%);
	display:none;
  }
}

@media screen and (max-width: 768px) {
  .ptf-dsk-registro .overlap-group2 {
    padding: 5% 0;
  }

  .ptf-dsk-registro .frame-4-1 {
    flex-direction: column;
    align-items: center;
  }

  .ptf-dsk-registro .frame-1 {
    margin-bottom: 20px;
  }

  .ptf-dsk-registro .group-3 {
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 384px;
  }

  .ptf-dsk-registro .frame-2-1,
  .ptf-dsk-registro .frame-3-1 {
    width: 100%;
  }

  .ptf-dsk-registro .botn_-acceso {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .ptf-dsk-registro {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .ptf-dsk-registro .cintillo_-registro {
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }

  .ptf-dsk-registro .encabezado {
    padding: 10px;
  }

  .ptf-dsk-registro .image-2 {
    max-width: 150px;
    height: auto;
  }

  .ptf-dsk-registro .overlap-group2 {
    flex: 1;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .ptf-dsk-registro .group-2,
  .ptf-dsk-registro .group-3 {
    width: 100%;
    max-width: none;
    padding: 20px;
    box-sizing: border-box;
  }

  .ptf-dsk-registro .frame-2-1,
  .ptf-dsk-registro .frame-3-1,
  .ptf-dsk-registro .botn_-acceso {
    width: 100%;
    max-width: none;
  }

  .ptf-dsk-registro .recordatorios {
    width: 100%;
    left: 0;
    padding: 0 20px;
    box-sizing: border-box;
  }
  

  .ptf-dsk-registro .frame-4,
  .ptf-dsk-registro .frame {
    font-size: 14px;
  }

  .ptf-dsk-registro .cifras {
    width: 100%;
    overflow: hidden;
  }
  
  .ptf-dsk-registro .frame-4-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .ptf-dsk-registro .frame-1 {
    width: 50%;
    margin-bottom: 10px;
  }
}