/* screen - ptf-dsk-test-por-aptitudes */

.ptf-dsk-test-por-aptitudes {
  align-items: flex-start;
  background-color: var(--blanco);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 903px;
  overflow: hidden;
  position: relative;
  width: auto;
  z-index:2;
}

.ptf-dsk-test-por-aptitudes .encabezado {
  height: 70px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1366px;
  z-index: 6;
}



.ptf-dsk-test-por-aptitudes .group-1 {
  align-self: center;
  cursor: pointer;
  height: 24px;
  margin-bottom: 2.0px;
  width: 28px;
}



.ptf-dsk-test-por-aptitudes .botn_-secciones {
  align-items: center;
  height: 40px;
  width: fit-content;
}

.ptf-dsk-test-por-aptitudes .perfil {
  align-items: flex-end;
  display: flex;
  height: 1104px;
  left: 1096px;
  min-width: 182px;
  position: fixed;
  top: 130px;
  z-index: 4;
}

.ptf-dsk-test-por-aptitudes .overlap-group3 {
  align-items: flex-end;
  background-color: var(--gris-01);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: -513px;
  min-height: 1617px;
  padding: 26px 11px;
  width: 182px;
}

.ptf-dsk-test-por-aptitudes .overlap-group {
  align-items: flex-start;
  border: 8px solid;
  border-color: var(--naranjametodos);
  border-radius: 53.5px;
  display: flex;
  height: 107px;
  margin-right: 2.0px;
  margin-top: -8px;
  min-width: 107px;
}

.ptf-dsk-test-por-aptitudes .botn_-secundario {
  align-items: flex-start;
  background-color: var(--blanco);
  border: 1px solid;
  border-color: var(--gris-02);
  border-radius: 10px;
  justify-content: center;
  margin-right: 2.0px;
  margin-top: 13px;
  width: 152px;
}

.ptf-dsk-test-por-aptitudes .overlap-group-1 {
  height: 55px;
  position: relative;
  width: 38px;
}

.ptf-dsk-test-por-aptitudes .number {
  height: 30px;
  left: 1px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.ptf-dsk-test-por-aptitudes .overlap-group1 {
  height: 55px;
  position: relative;
  width: 51px;
}

.ptf-dsk-test-por-aptitudes .number-1 {
  height: 30px;
  left: 8px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.ptf-dsk-test-por-aptitudes .overlap-group-2 {
  height: 74px;
  margin-right: 3.0px;
  position: relative;
  width: 79px;
}

.ptf-dsk-test-por-aptitudes .text-39 {
  left: 0;
  letter-spacing: 2.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 26px;
}

.ptf-dsk-test-por-aptitudes .botn_-secundario-1 {
  margin-right: 4.0px;
}

.ptf-dsk-test-por-aptitudes .vector {
  height: 32px;
  width: 28px;
}

.ptf-dsk-test-por-aptitudes .enunciado {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: auto;;
  margin-top: 174px;
  min-height: 132px;
  width: 982px;
  z-index: 1;
}

.ptf-dsk-test-por-aptitudes .test-por-aptitudes {
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.ptf-dsk-test-por-aptitudes .realiza-un-test-comb {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 10px;
  white-space: nowrap;
}

.ptf-dsk-test-por-aptitudes .frame-14 {
  background-color: var(--blanco);
  border-radius: 15px;
  box-shadow: 0px 0px 15px #00000040;
  gap: 22px;
  margin-top: 20px;
  padding: 10px;
  width: fit-content;
}

.ptf-dsk-test-por-aptitudes .group-16 {
  height: 26px;
  min-width: 140px;
  position: relative;
}

.ptf-dsk-test-por-aptitudes .address {
  left: 32px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.ptf-dsk-test-por-aptitudes .unin-1-1 {
  height: 25px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 25px;
}

.ptf-dsk-test-por-aptitudes .group-15 {
  height: 26px;
  margin-right: -2.00px;
  min-width: 124px;
  position: relative;
}

.ptf-dsk-test-por-aptitudes .icon-clock {
  height: 25px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 25px;
}

.ptf-dsk-test-por-aptitudes .address-1 {
  left: 31px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.ptf-dsk-test-por-aptitudes .cuadro-checklist {
   width: 100% !important;
    max-width: 990px;
    margin: 33px auto 0;
    padding: 0 15px;
    box-sizing: border-box;
}

.ptf-dsk-test-por-aptitudes .frame-11 {
  background-color: var(--fondo-azul);
  border-radius: 15px 15px 0px 0px;
  gap: 10px;
  padding: 5px 20px;
  width: 990px;
}

.ptf-dsk-test-por-aptitudes .selecciona-una-o-var {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.ptf-dsk-test-por-aptitudes .group-17 {
  align-items: center;
  display: flex;
  gap: 18px;
  height: 26px;
  margin-right: -2px;
  margin-top: 31px;
  min-width: 979px;
}

.ptf-dsk-test-por-aptitudes .verbal {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 26px;
  margin-bottom: 0;
  white-space: nowrap;
  width: 946px;
  top:2em;
  right:2em;
}

.ptf-dsk-test-por-aptitudes .group {
  align-items: center;
  display: flex;
  gap: 18px;
  height: 26px;
  margin-right: -2px;
  margin-top: 5px;
  min-width: 979px;
}

.ptf-dsk-test-por-aptitudes .espacial {
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
  width: 946px;
}

.ptf-dsk-test-por-aptitudes .checkbox-1-1 {
  height: 14px;
  margin-bottom: 2.25px;
  width: 14px;
}

.ptf-dsk-test-por-aptitudes .percepcin {
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
  width: 945px;
}

.ptf-dsk-test-por-aptitudes .numrico {
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
  width: 946px;
}

.ptf-dsk-test-por-aptitudes .mecnico {
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
  width: 945px;
}

.ptf-dsk-test-por-aptitudes .memoria {
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
  width: 945px;
}

.ptf-dsk-test-por-aptitudes .razonamiento-abstracto {
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
  width: 945px;
}

.ptf-dsk-test-por-aptitudes .botn_-acceso {
  align-items: center;
  align-self: center;
  background-color: var(--naranjametodos);
  border-radius: 15px;
  justify-content: center;
  z-index: 3;
  display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
}

.ptf-dsk-test-por-aptitudes .botn_ {
  display: flex;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.ptf-dsk-test-por-aptitudes .botn_-secundario-3 {
  align-items: flex-start;
  background-color: var(--blanco);
  border: 1px solid;
  border-color: var(--gris-02);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 152px;
}

.ptf-dsk-test-por-aptitudes .frame {
  align-items: flex-start;
  display: flex;
  position: relative;
}
