/* screen - ptf-dsk-preguntas-acertadas-y-falladas */

.ptf-dsk-preguntas-acertadas-y-falladas {
  align-items: flex-start;
  background-color: var(--blanco);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1510px;
  position: relative;
  width: 1366px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .encabezado {
  height: 70px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1366px;
  z-index: 11;
}

.ptf-dsk-preguntas-acertadas-y-falladas .overlap-group4 {
  align-items: flex-start;
  background-color: var(--blanco);
  display: flex;
  gap: 979px;
  height: 82px;
  justify-content: flex-end;
  left: 0;
  min-width: 1366px;
  padding: 13px 87.1px;
  position: absolute;
  top: 10px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .group-3 {
  align-self: center;
  cursor: pointer;
  height: 24px;
  margin-bottom: 2.0px;
  width: 28px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .barra-mens {
  align-items: flex-start;
  background-color: var(--verdemetodos);
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 40px;
  left: 0;
  min-width: 1366px;
  padding: 0 86px;
  position: fixed;
  top: 90px;
  z-index: 10;
}

.ptf-dsk-preguntas-acertadas-y-falladas .botn_-secciones {
  align-items: center;
  height: 40px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .barra_-sub_-secciones {
  align-items: center;
  background-color: var(--blanco);
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  gap: 20px;
  height: 60px;
  left: 0;
  min-width: 1366px;
  padding: 0 88px;
  position: fixed;
  top: 130px;
  z-index: 9;
}

.ptf-dsk-preguntas-acertadas-y-falladas .botn_-secundario {
  align-items: flex-start;
  background-color: var(--blanco);
  border: 1px solid;
  border-color: var(--gris-02);
  border-radius: 10px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .perfil {
  align-items: flex-end;
  display: flex;
  height: 1104px;
  left: 1096px;
  min-width: 182px;
  position: fixed;
  top: 190px;
  z-index: 8;
}

.ptf-dsk-preguntas-acertadas-y-falladas .overlap-group3 {
  align-items: flex-end;
  background-color: var(--gris-01);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: -513px;
  min-height: 1617px;
  padding: 26px 11px;
  width: 182px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .overlap-group-1 {
  align-items: flex-start;
  border: 8px solid;
  border-color: var(--naranjametodos);
  border-radius: 53.5px;
  display: flex;
  height: 107px;
  margin-right: 2.0px;
  margin-top: -8px;
  min-width: 107px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .botn_-secundario-1 {
  margin-right: 2.0px;
  margin-top: 13px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .overlap-group-2 {
  height: 55px;
  position: relative;
  width: 38px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .number {
  height: 30px;
  left: 1px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.ptf-dsk-preguntas-acertadas-y-falladas .overlap-group1 {
  height: 55px;
  position: relative;
  width: 51px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .number-1 {
  height: 30px;
  left: 8px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
}

.ptf-dsk-preguntas-acertadas-y-falladas .overlap-group-3 {
  height: 74px;
  margin-right: 3.0px;
  position: relative;
  width: 79px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .text-2 {
  left: 0;
  letter-spacing: 2.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 26px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .botn_-secundario-2 {
  margin-right: 4.0px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .vector-5 {
  height: 32px;
  width: 28px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .overlap-group5 {
  height: 67px;
  margin-left: 88px;
  margin-top: 233px;
  position: relative;
  width: 992px;
  z-index: 1;
}

.ptf-dsk-preguntas-acertadas-y-falladas .enunciado {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  min-height: 66px;
  position: absolute;
  top: 1px;
  width: 982px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .preguntas-acertadas-y-falladas {
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.ptf-dsk-preguntas-acertadas-y-falladas .consulta-el-detalle {
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.ptf-dsk-preguntas-acertadas-y-falladas .selector {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  left: 807px;
  min-height: 58px;
  position: absolute;
  top: 0;
  width: 185px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .sesin {
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.ptf-dsk-preguntas-acertadas-y-falladas .overlap-group-4 {
  align-items: center;
  background-color: var(--gris-01);
  border-radius: 5px;
  display: flex;
  gap: 122px;
  height: 30px;
  justify-content: flex-end;
  min-width: 181px;
  padding: 0 10px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .number-2 {
  line-height: 24px;
  min-width: 16px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .group-90 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 86px;
  margin-top: 22px;
  min-height: 185px;
  width: 990px;
  z-index: 2;
}

.ptf-dsk-preguntas-acertadas-y-falladas .overlap-group {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(232, 232, 232) 0%, rgba(232, 232, 232, 0) 100%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 2.0px;
  margin-top: 3px;
  min-height: 50px;
  width: 988px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .vector-1 {
  height: 1px;
  width: 988px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .flex-row {
  align-items: flex-start;
  display: flex;
  margin-left: 10.25px;
  min-width: 421px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .id-me4305 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 24px;
  min-width: 72px;
  white-space: nowrap;
}

.ptf-dsk-preguntas-acertadas-y-falladas .vector-2 {
  align-self: center;
  height: 24px;
  margin-left: 11px;
  margin-top: 0.5px;
  width: 1px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .aptitud-verbal {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-width: 93px;
  white-space: nowrap;
}

.ptf-dsk-preguntas-acertadas-y-falladas .vector-4 {
  height: 24px;
  margin-left: 11px;
  width: 1px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .group-33 {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-left: 10px;
  min-width: 108px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .vector {
  height: 27px;
  width: 27px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .explicacin {
  letter-spacing: 0;
  line-height: 24px;
  min-width: 71px;
  white-space: nowrap;
}

.ptf-dsk-preguntas-acertadas-y-falladas .vector-3 {
  height: 24px;
  margin-left: 9px;
  width: 1px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .group-34 {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-left: 10px;
  min-width: 84px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .imagen {
  letter-spacing: 0;
  line-height: 24px;
  min-width: 47px;
  white-space: nowrap;
}

.ptf-dsk-preguntas-acertadas-y-falladas .group-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 122px;
  padding: 0 2px;
  width: 986px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .seale-la-opcin-que {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 4px;
  margin-top: 4px;
  position: relative;
  white-space: nowrap;
  width: 975px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .group {
  align-items: flex-start;
  display: flex;
  height: 82px;
  justify-content: flex-end;
  min-width: 785px;
  padding: 4px 0;
}

.ptf-dsk-preguntas-acertadas-y-falladas .los-cuadros-de-arrib {
  align-self: center;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2.0px;
  min-height: 48px;
  position: relative;
  text-align: center;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .los-cuadros {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 30px;
  min-height: 72px;
  position: relative;
  text-align: center;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .frame-15 {
  align-items: flex-start;
  align-self: center;
  background-color: var(--fondo-azul);
  display: flex;
  gap: 20px;
  margin-left: 26px;
  padding: 5px;
  position: relative;
  width: fit-content;
}

.ptf-dsk-preguntas-acertadas-y-falladas .todas-las-anteriores-son-correctas {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .group-91 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 86px;
  margin-top: 20px;
  min-height: 133px;
  width: 990px;
  z-index: 4;
}

.ptf-dsk-preguntas-acertadas-y-falladas .group-8-1 {
  padding: 0 2px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .lo-contrario-de-disperso-es {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 4px;
  margin-top: 4px;
  position: relative;
  white-space: nowrap;
  width: 975px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .group-1 {
  align-items: center;
  display: flex;
  height: 34px;
  min-width: 785px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .apiado {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .encontrado {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2.0px;
  margin-left: 25px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .homogneo {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2.0px;
  margin-left: 30px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .oredenado {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2.0px;
  margin-left: 31px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .group-92 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 86px;
  margin-top: 20px;
  min-height: 133px;
  width: 990px;
  z-index: 6;
}

.ptf-dsk-preguntas-acertadas-y-falladas .cul-de-las-siguien {
  align-self: center;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 1.0px;
  margin-top: 4px;
  position: relative;
  white-space: nowrap;
  width: 975px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .group-2 {
  align-items: center;
  display: flex;
  height: 34px;
  min-width: 785px;
  padding: 0 5px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .a {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2.0px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .frame-15-2 {
  margin-left: 25px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .b {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .c {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2.0px;
  margin-left: 25px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .d {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2.0px;
  margin-left: 31px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .group-93 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 86px;
  margin-top: 20px;
  min-height: 185px;
  width: 990px;
  z-index: 3;
}

.ptf-dsk-preguntas-acertadas-y-falladas .seale-la-opcin-que-1 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 4px;
  margin-top: 4px;
  position: relative;
  white-space: nowrap;
  width: 975px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .group-94 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 86px;
  margin-top: 20px;
  min-height: 133px;
  width: 990px;
  z-index: 5;
}

.ptf-dsk-preguntas-acertadas-y-falladas .lo-contrario-de-disperso-es-1 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 4px;
  margin-top: 4px;
  position: relative;
  white-space: nowrap;
  width: 975px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .apiado-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .encontrado-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2.0px;
  margin-left: 25px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .oredenado-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2.0px;
  margin-left: 31px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .group-95 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 86px;
  margin-top: 20px;
  min-height: 133px;
  width: 990px;
  z-index: 7;
}

.ptf-dsk-preguntas-acertadas-y-falladas .a-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2.0px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .b-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .c-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2.0px;
  margin-left: 25px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .d-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2.0px;
  margin-left: 31px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 171px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .botn_ {
  display: flex;
  gap: 10px;
  padding: 10px;
  position: relative;
  width: fit-content;
}

.ptf-dsk-preguntas-acertadas-y-falladas .botn_-secundario-4 {
  align-items: flex-start;
  background-color: var(--blanco);
  border: 1px solid;
  border-color: var(--gris-02);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 152px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .frame-15-3 {
  align-items: flex-start;
  background-color: var(--fondo-azul);
  display: flex;
  gap: 20px;
  padding: 5px;
  position: relative;
  width: fit-content;
}

.ptf-dsk-preguntas-acertadas-y-falladas .group-8-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 74px;
  width: 986px;
}

.ptf-dsk-preguntas-acertadas-y-falladas .number-3 {
  letter-spacing: 0;
  white-space: nowrap;
}
